<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1005/100/100" class="ui avatar image"/>
                        王也
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle button icon black m-top-right m-mobile-show">
        <i class="sidebar icon "></i>
    </a>
</nav>
<!-- 中间部分 -->
<div class="m-padded-tb-large m-container">
    <div class="ui container">
        <div class="ui success large message">
            <h2>Hi,</h2>
            <p><span th:text="${session.user.nickname}">王也</span>，欢迎登录！</p>
        </div>
        <img class="ui rounded bordered fluid image" src="https://picsum.photos/id/1074/1000/400">
    </div>
</div>
<br/>
<br/>
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid m-text-spaced">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" style="width:120px"/>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">qqq</a>
                    <a href="#" class="item">qqq</a>
                    <a href="#" class="item">qqq</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:tinglei1024@gmail.com</a>
                    <a href="#" class="item">QQ:754933731</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">Blog</h4>
                <div class="ui inverted link list icon">
                    <a href="https://github.com/" class="item" target="_blank"><i class="github icon"></i>&nbsp;&nbsp;Github</a>
                    <a href="https://store.steampowered.com/" class="item" target="_blank"><i class="steam icon"></i>&nbsp;&nbsp;Steam</a>
                    <a href="https://linux.cn/" class="item" target="_blank"><i class="linux icon"></i>&nbsp;&nbsp;Linux</a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny"><i class="copyright outline icon"></i>2021 WangYe</p>
    </div>
</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>
